
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
     font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'fonts';
@import 'Reset';

.header{
    background-image: url("../img/Header_BG.jpg");
    .menu{
        display: flex;
        #logo{
            display: inline-block;
        }
    
    }
}