<header class="header">
    <div class="menu">
        <img id="logo" src="img/icons/Planet.png" alt="Logo">
    </div>
    <nav class="menu_menubar">
        <a href="" class="menu_menubar_link">Main</a>
        <a href="" class="menu_menubar_link">Way to help</a>
        <a href="" class="menu_menubar_link">News</a>
        <a href="" class="menu_menubar_link">Map</a>
        <a href="" class="menu_menubar_link">Contacts</a>
        <a href="" class="menu_menubar_link">+380 50 123 65 98</a>
    </nav>
</header>